.container {
  margin-top: 2vh;
  margin-left: 2vh;
  border-radius: 10px;
  width: 40%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  padding: 10px;
  background: rgb(22, 20, 20);
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

p {
  padding: 5px;
  margin-left: 1rem;
}

button {
  background-color: rgb(81, 15, 81);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1rem;
  width: 8vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
  background:rgb(64, 9, 64);
  cursor: pointer;
}
img {
  width: 200px;
  height: auto;
  border: black;
  border-radius:100%;
  transition: 0.5s ease-in-out;
}

img:hover {
  transform: scale(0.9);
}

.bold {
  font-weight: 10000;
  margin-left: 1rem;
}
.word {
	display: inline-flex;
	cursor: pointer;
  color:blueviolet;
}

.word:hover .char:nth-child(1) {
	transform: translateY(10px) rotate(-20deg);
}
.word:hover .char:nth-child(2) {
	transform: translateY(-40px) rotate(5deg);
}
.word:hover .char:nth-child(3) {
	transform: translateY(15px) rotate(12deg);
}
.word:hover .char:nth-child(4) {
	transform: translateY(-25px) rotate(5deg);
}
.word:hover .char:nth-child(5) {
	transform: translateY(-40px) rotate(-10deg);
}
.word:hover .char:nth-child(6) {
	transform: translateY(-15px) rotate(8deg);
}

.char {
	transition: 0.4s ease-in-out;
	position: relative;
	font-weight: bold;
}


